<table class="table table-sm table-hover table-bordered table-striped">

    <thead>

        <tr>

            <th>Id</th>

            <th>First Name</th>

            <th>Last Name</th>

            <th>Email</th>

            <th>Gender</th>

            <th>Ip Address</th>

        </tr>

    </thead>

    <tbody>

        <!--<tr *ngFor="let client of clients">

            <td>{{client.firstName}}</td>

            <td>{{client.lastName}}</td>

            <td>{{client.phone}}</td>

            <td>{{client.cell}}</td>

            <td>{{client.email}}</td>

            <td class="text-right" style="width:125px;">

                <div class="btn-hspace">

                    <a (click)="editClient(client)" disabled href="javascript:void(0)" class="text-primary">

                        <i class="icon icon-left mdi mdi-pencil"></i>Edit

                    </a>

                </div>

            </td>

        </tr>-->

    </tbody>


</table>